body{
	background-color: #E5E7E9;
	font-family: 'Roboto', sans-serif;
}
.main
{
	background-color: white;
	border-radius: 5px;
	width: 93%;
	float: left;
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.20)

}
.container{

	width: 325px;
	overflow: hidden;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}
.shape{
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;   
	border-right:10px solid white; 
	float: left;
	margin-top: 23px;

	position: relative;
}
.top_section{
	padding: 20px;
}
.title
{
	
	width: 90%;
	float: left;
}
.title h1{
	color: #727272;
	font-size: 25px;
	font-weight: 300;
	padding: 0px;
	margin:0px;
}
.icon{

	width: 10%;
	float: right;
	text-align: right;	
	margin-top:2px;
	cursor: pointer;
}

section
{
	color: #9f9e9e;
}

.black
{
	width: 64%;
	padding: 15px 3%;
	background-color: #373942;
	float: left;
	border-bottom-left-radius:5px;

}
.step
{
	color: #fdffef;
	width: 40%;
	float: left;

	text-align: center;
}
.dots_navigation{
	width: 60%;
	float: left;
}

.next
{
	background-color: #6CB5F4;
	color: #fdffef;
	width: 24%;
	padding: 18px 3%;
	font-size: 12px;
	float: right;
	text-align: center;
	border-bottom-right-radius:5px;
	cursor: pointer;

}
.next:hover
{
	box-shadow: inset 0px 0px 12px rgba(6, 45, 169, 0.52);
}
footer{
	width: 100%;	
	overflow: hidden;
	background-color: #373942;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.text{
	margin-top: 20px;
	line-height: 1.7;
	font-size: 14px;
}
header{
	overflow: hidden;
}
.dots_navigation{
	margin-top: 5px;
}
.dots{
	position: relative;
	color: #BCBCC0;
	cursor: pointer;
	float: left;
	font-size: 8px !important;
}
.dots:hover, .glow{
	color: white;
	text-shadow: 0px 0px 8px white;	
}

.horizontal_line{
	border-top: 1px solid rgba(179, 179, 179, 0.4);
	width: 15%;
	position: relative;
	float: left;
	margin-top: 4px;
}
a:link, a:visited, a:active
{
color:white;
text-decoration: none;
}



